.container2-img{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

li:hover{
    cursor: pointer;
}

.service:hover{
    cursor: pointer;
}

.services{
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}