*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(172, 167, 167);
}

.container{
    background-color: black;
    color: white;
    position: fixed;
    width: 100vw;
    z-index: 1;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding:20px;
}
.navbar > h1{
    margin-top: 3px;
    padding: 10px;
}
.navbarItems {
    display: flex;
    gap: 40px;
}
input{
    height: 30px;
    width: 165px;
    margin-top: 17px;
    border: none;
    color: white;
    background-color: black;
    border-bottom: 1px solid white;
}
li{
    list-style: none;
    margin: 18px;
    margin-top: 20px;
  }
li:hover{
    color: gray;
    cursor: pointer;
    text-underline-position: below;
}  
.navbar>h1:hover{
    zoom: 1.01;
}
/* //-----------------------------------------------------// */

.sliderimg>img{
    height: 50vw;
    width: 50vw;
}

.sliderimg{
    display: flex;
    align-items: center;
    margin-top: 115px;
}
.details{
    min-width: 50vw;
    align-items: center;
}
.details h1{
    padding-bottom: 2px;
    font-family: 'Mooli', sans-serif;
}
.container2-img{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
p:hover{
    cursor: pointer;
}
/* //-------------------------------------------------// */
.services{
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.products{
    display: flex;
}

#buy_button{
    width:15%;
    height: 5%;
    padding: 2px;
}

/* //-----------------------------------------------------// */

.payment{
    /* display: flex; */
    text-align: center;
    background-color: white;
    width: 50vw;
    padding: 15px;
    border-radius: 5px;
}
.payment>h1{
    margin-bottom: 20px;
}
.cancel{
    position: absolute;
    top: 25px;
    right: 45px;
    width: 30px;
    height: 30px;
    padding: 6px;
    border: none;
    font-weight: bolder;
}
.cancel:hover{
    background-color: rgb(199, 199, 199);
}
.card_info{
    text-align: left;
    margin-left: 20px;
    padding-bottom: 20px;
    /* text-decoration: underline; */
    font-size: 20px;
}
.payment>p{
    text-align: left;
    margin-left: 16px;
}
.payment>input{
    color: black;
    background-color: white;
    border-bottom: 1px solid black;
    width: 95%;
    margin-bottom: 20px;
}

.container5{
    position: absolute;
    z-index: 1;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
    /* margin: 200px 30px 30px 400px; */
    visibility: hidden;
    transition: transform 1s;
}

/* .open-container5{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
} */

.order{
    width:15%;
    height: 5%;
    padding: 2px;
    font-weight: bolder;
}

