*{
    padding: 0px;
    margin: 0px;
}
.container{
    background-color: black;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding:20px
}
.navbarItems {
    display: flex;
    gap: 40px;
}
input{
    height: 30px;
}
li{
    list-style: none;
    /* padding: 40px;  */
  }

.container2-img{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

li:hover{
    cursor: pointer;
}
p:hover{
    cursor: pointer;
}

.service:hover{
    cursor: pointer;
}

.services{
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.products{
    display: flex;
}

